__mocks__
__tests__
.husky
.vscode
.vscode-test
.yarn
node_modules
scripts
src
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
.yarn
.yarnrc.yml
git-hook-tasks.config.json
jest.config.js
tsconfig.json
yarn-error.log
.gitignore
**/tsconfig.json
**/*.map
**/*.ts
.swcrc
.npmrc
.npmignore
.jest.config.js
**/*.vsix
icon.svg